/*main: ../opencharity.scss*/

img {
  max-width: 100%;
}

.thumbnail-wrapper{
  height: 152px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.rounded-img{
  min-height: auto;
  height: auto;
  padding: 0;

  &--white{
    background: #fff;
    padding: 9px;
    border-radius: 50%;
    position: absolute;
    top: -54px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}

.thumnail{
  &--medium{
    width: 106px;
  }
  &--small{
    width: 100px;
  }
}

/*media queries*/

@media only screen
and (max-width: $mobile-max){
  .thumbnail-wrapper{
    min-height: 78px;
  }

  .rounded-img{
    &--white{
      top: 27px;
    }
  }
}
