/*main: ../opencharity.scss*/
* {
    box-sizing: border-box;
}

body {
  font-size: $base-font-size;
  font-family: $primary-font-stack;
  background-color: $light-gray;
  margin: 0;
  padding: 0;
  color: $gray;
}

h1,h2,h3,h4,h5,h6,
ul,ol,dd,
p,figure,
table,fieldset,hr
{
  margin: 0;
  margin-bottom: 8px;
  line-height: 2;
}

h1 {
  margin-bottom: $small-spacing;
  font-size: $h1-font-size;
}

h2 {
  margin-bottom: $small-spacing;
  font-size: $h2-font-size;
}

h3 {
  margin-bottom: $small-spacing;
  font-size: $h3-font-size;
}

section {
  h2, h3, h4, h5, h6 {
    margin: 16px 0;
    max-width: 40rem;
  }
  ul,ol,dd,p,figure,table,fieldset,hr {
    max-width: 68rem;
    margin-bottom: 16px;
  }
}

hr{
  border-bottom: $base-border
}

/*links*/
a{
  color: $primary;
  text-decoration: none;
}
