/*main: ../opencharity.scss*/
.hero-banner{
  height: 450px;
  background-position: right top;
  background-size: contain;
}

.banner-info{
  text-align: center;
  color: #FFF;

  &__title{
    text-transform: uppercase;
    font-weight: normal;
  }
}

.info{
  margin: 0 auto;
  padding-bottom: 16px;

  &__sub-title{
    font-size: 18px;
    width: 60%;
    @extend .info;
    
    &--small{
      font-size: 14px;
      width: 52%;
      @extend .info;
    }
  }
}

/*media queries*/
@media only screen
and (max-width: $mobile-max){
  .hero-banner{
    height: 360px;
    background-size: cover;
  }

  .banner-info{
    &__title{
      font-size: 28px;
      line-height: 1.5;
      margin-bottom: 16px;
    }
  }

  .info{
    width: 100%;

    &__sub-title{
      font-size: 14px;

      &--small{
        font-size: 12px;
      }
    }

    &:last-child{
      padding-bottom: 0;
    }
  }
}

@media only screen
and (min-width: $tablet-min)
and (max-width: $tablet-max){
  .hero-banner{
    background-size: cover;
  }

  .banner-info{
    &__title{
      line-height: 1.5;
      font-size: 42px;
      margin-bottom: 16px;
    }
  }

  .info{
    &__sub-title{
      width: 95%;

      &--small{
        width: 81%;
      }
    }
  }
}
