/*main: ../opencharity.scss*/
.btn{
  text-transform: uppercase;
  text-align: center;
  max-height: 80px;
  padding: 9px 20px;
  text-decoration: none;

  &--primary{
    border: 1px solid $primary;
    color: $primary;

    /*for menu items to override drupal default selector*/
    &.active{
      color: $primary;
    }
  }

  &--secondary{
    background: $primary;
    color: #FFF;

    &.active{
      color: #FFF;
    }
  }

  &--join{
    padding-left: 25px;
    padding-right: 25px;
  }

  &--fixed-width{
    width: 200px;
    display: inline-block;
  }
}

@media only screen
and (max-width: 992px){
  .btn--join{
    border: 0;
    padding-left: 0;
  }
}
