/*main: ../opencharity.scss*/
.footer{
  background: $dark-gray;
  color: $tertiary-gray;
  min-height: 135px;
  text-align: center;
  padding: 10px;
  font-size: $sm-font-size;
}

.social{
  color: $primary;
  font-size: 18px;
  border-bottom: 1px solid $secondary-gray;
  width: 75%;
  margin: 0 auto 15px;
  padding: 20px 0 27px;

  i{
    margin-right: 15px;

    &:last-child{
      margin-right: 0;
    }
  }
}
