/*main: ../opencharity.scss*/

.header{
  background: #FFF;
  height: 80px;

  &__logo{
    height: 38px;
    width: 165px;
  }
}

/* media queries*/

@media only screen
and (max-width: $mobile-max){
  .logo-container{
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
