/*main: ../opencharity.scss*/
/* admin menu*/
#toolbar{
 box-shadow: none;
}

.menu{
  text-transform: uppercase;
  color: $gray;
  margin-bottom: 0;
  font-size: $sm-font-size;

  &__links{
    display: inline;
    padding-left: 12px;
    padding-right: 12px;

    &:last-child{
      padding-right: 0;
    }
  }

  /* overrides for drupal specific selector*/
  a{
    text-decoration: none;
  }
}

.mobile-toggle{
  font-size: 30px;
  display: none;
}

.mobile-close{
  display: none;
}

/*media queries*/

@media only screen
and (max-width: 992px){
  .mobile-toggle{
    display: block;
    position: absolute;
    right: 0;
    top: 16px;
    bottom: 0;
  }

  .mobile-close{
    display: block;
    font-size: 32px;
    position: relative;
    right: 32px;
    z-index: 2;
  }

  .main-menu{
    background-color: #fff;
    height: 100%;
    position: fixed;
    z-index: 1;
    width: 0;
    display: none;

    &--open{
      display: block;
      width: 100%;
      -webkit-transition: width 3s;
      transition: width 3s;
    }
  }

  .menu{
    position: absolute;
    width: 47%;
    padding-left: 0;
    top: 18px;

    &__links{
      border-bottom: 1px solid $light-gray;
      padding: 12px;
      display: block;
    }
  }
}

@media only screen
and (max-width: $mobile-max){
  .mobile-toggle{
    right: 10px;
  }

  .menu{
    width: 100%;
  }

  .mobile-close{
    position: absolute;
  }
}
