/*main: ../opencharity.scss*/
.slidder-toggle{
  text-align: center;

  &__btn{
    background: $secondary-gray;
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;

    &:hover{
      cursor: pointer;
    }

    &--active{
      background: $primary;
    }
  }
}

/*media queries*/

@media only screen
and (max-width: $mobile-max){
  .slidder-toggle{
    display: none;
  }
}
