/*main: ../opencharity.scss*/

.blog{
  &-container{
    margin: 10px auto 0;
    padding-left: 80px;
    padding-right: 80px;
    width: 88%;
    position: relative;
  }

  &-underlay{
    height: 187px;
    background: $gray;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
  }

  &-title{
    color: $primary;
    font-size: $sm-font-size;
    border-bottom: 1px solid $light-gray;
    font-weight: $font-medium;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  &-content{
    padding: 15px;
  }

  &-btn-next, &-btn-prev{
    color: $primary;
    font-size: 50px;
    width: 50px;
    position: absolute;
    cursor: pointer;
  }

  &-btn-next{
    left: 45px;
    top: 137px;
  }

  &-btn-prev{
    right: 0;
    top: 137px;
  }
}

/*media queries*/

@media only screen
and (max-width: $mobile-max){
  .blog{
    &-post{
      margin-bottom: 20px;
    }
    &-btn-next, &-btn-prev{
      display: none;
    }
  }
}
