/*main: ../opencharity.scss*/

.event{
  padding: 30px 0;

  &__date{
    font-family: $secondary-font-stack;
    font-weight: $font-bold;
  }

  &__detail{
    font-size: $sm-font-size;
  }

  &__register{
    float: right;
    font-size: $sm-font-size;
  }
}

@media only screen
and (max-width: $mobile-max){
  .event{
    &__register{
      float: none;
      display: inline-block;
      margin-top: 20px;      
    }
  }
}
