/*main: ../opencharity.scss*/
.col-third{
  &:first-child{
    .thumnail--medium{
      &:first-child{
        width: 126px;
      }
    }

    .details{
      width: 97%;
    }
  }

  &:nth-child(2){
    .details{
      width: 73%;
    }
  }

  &:nth-child(3){
    .details{
      width: 84%;
    }
  }
}

@media only screen
and (max-width: $mobile-max){
  .col-third{
    &:first-child{
      .thumnail--medium{
        &:first-child{
          width: 100px;
        }
      }
    }
  }
}
