/*main: ../opencharity.scss*/
.member-logo{
  background-size: contain;
  width: 150px;
  height: 58px;
  background-repeat: no-repeat;
}

.member-logo-container{
  height: 110px;
  margin-bottom: 25px;
}

.center--content{
  img{
    width: 130px;
  }
}

.col-fifth{
  &:nth-child(2){
    img{
      width: 146px;
    }
  }

  &:nth-child(3){
    img{
      width: 105px;
    }
  }

  &:nth-child(4){
    img{
      width: 80px;
    }
  }

  &:nth-child(5){
    img{
      width: 110px;
    }
  }
}
