/*main: ../opencharity.scss*/
.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  position: relative;

  &--padded{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.row{
  margin-right: -15px;
  margin-left: -15px;

  &:after{
    clear: both;
    display: table;
    content: " ";
  }
}

.col-half,
.col-third,
.col-fourth,
.col-fifth{
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  float: left;
}

.col-full-width{
  width: 100%;
  position: relative;
}

.col-half{
  width: 50%;
}

.col-third{
  width: 33.333333%;
}

.col-fourth{
  width: 25%;
}

.col-fifth{
  width: 20%;
}

.table{
  display: table;
  width: 100%;
  height: 100%;

  &__table-cell{
    display: table-cell;
    float: none;
  }

  &__table-cell--middle{
    vertical-align: middle;
  }
}

/*media queries*/
@media (min-width: $tablet-min){
  .container {
      width: 750px;
  }
}

@media only screen
and (min-width: 992px){
  .container {
      width: 970px;
  }
}

@media only screen
and (min-width: 1200px){
  .container {
      width: 1170px;
  }
}

@media only screen
and (max-width: $mobile-max){
  .col-half,
  .col-third,
  .col-fifth,
  .col-fourth{
    width: 100%;
    float: left;
    padding: 0;
  }

  .col-third{
    padding-bottom: 30px;
  }
}
