/*main: ../opencharity.scss*/

/* alignment*/
.right{
  float: right;

  &:after{
    clear: both;
  }
}

.left{
  float: left;

  &:after{
    clear: both;
  }
}

.center--content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* align horizontal */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* align vertical */
}

.clear{
  clear: both;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

/*font*/
.text-upper{
  text-transform: uppercase;
}

.text-color-primary{
  color: $primary;
}

.text-color-secondary{
  color: $secondary;
}

.text-color-secondary-gray{
  color: $secondary-gray;
}

.text-bold{
  font-weight: $font-bold;
}

.text-semi-bold{
  font-weight: $font-medium;
}

.text-light{
  font-weight: $font-light;
}

/*font size*/
.font-xs{
  font-size: $xs-font-size;
}

.font-sm{
  font-size: $sm-font-size;
}

.font-md{
  font-size: $base-font-size;
}

.font-lg{
  font-size: $lg-font-size;
}

/*background*/
.background-white{
  background-color: #FFF;
}

.background-dark-gray{
  background-color: $dark-gray;
}

/* horizontal lines*/
.hr{
  height: 1px;
  border-bottom: 1px solid $light-gray;
  margin-top: 10px;
  margin-bottom: 10px;
}
