@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

/*colors*/
$primary:       #61bfbc;
$secondary:     #5dc0c9;
$gray:          #575656;
$dark-gray:     #454850;
$secondary-gray:#5b6172;
$tertiary-gray: #979eb1;
$light-gray:    #f1f2f5;


/*font*/
$primary-font-stack: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Tahoma', 'sans-serif';
$secondary-font-stack: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Tahoma', 'sans-serif';

$font-light:        300;
$font-regular:      400;
$font-medium:       600;
$font-bold:         700;

$base-font-size:    16px;
$lg-font-size:      18px;
$sm-font-size:      14px;
$xs-font-size:      12px;
$base-line-height:  1.5;

$h1-font-size:      52px;
$h2-font-size:      28px;
$h3-font-size:      24px;

/*Spacing*/
$base-spacing: 15px;
$small-spacing: $base-spacing / 3;
$base-padding: 16px;

/*Borders*/
$base-border-radius: 4px;
$base-border-color: #d9dadd;
$base-border: 1px solid $base-border-color;

/*screen sizes*/
$mobile-max:          767px;
$tablet-min:          768px;
$tablet-max:          1024px;
